

body{
    text-align:center ;
}

#but{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 15%;
    transition-duration: 0.4s;
}

.form-group{
  width: 15%;
  margin-left: 42.5%;
}

.form-check {
  margin-left: 42.5%;
  float: none;
} 

#log:hover
{
    background-color: gray; 
  color: white;
}

#log{
    transition-duration: 0.4s;
    background-color: white;
  color: black;
  border: 2px solid grey;
  width: 15%;
}


ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }

